
<% layout("listings/layouts/boilerplate") -%>
<body>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <h3>edit your listing</h3>
        <input type="text" name="listing[title]" value="<%= listing.title %>">
        <br><br>
        <textarea name="listing[description]" ><%= listing.description %></textarea>
        <br><br>
        <input type="text" name="listing[image]" value="<%= listing.image %>">
        <br><br>
        <input type="number" name="listing[price]" value="<%= listing.price%>">
        <br><br>
        <input type="text" name="listing[location]" value="<%= listing.location%>">
        <br><br>
        <input type="text" name="listing[country]" value="<%= listing.country%>">
        <br><br>
        <button>
           save changes
        </button>
    </form>
</body>
