
<% layout("listings/layouts/boilerplate") -%>
<body>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate>
        <br><br>
        <div class="row "><div class="col-8 offset-2">
        <h3>edit your listing</h3>

        <div class="mb-3">
            <label for="title" class="form-label">title</label>
            <input required type="text"  class="form-control" name="listing[title]" value="<%= listing.title %>">
           </div>

            <div class="mb-3">
                <label for="description" class="form-label">description</label>
        <textarea required class="form-control" name="listing[description]" ><%= listing.description %></textarea>
        </div>

    
        <div class="mb-3">
            <label for="image" class="form-label">image</label>
            <input required type="text"  class="form-control" name="listing[image]" value="<%= listing.image %>">
           </div>
<div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
            <input required type="number"  class="form-control" name="listing[price]" value="<%= listing.price%>">
           </div>

           <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input required type="text"  class="form-control" name="listing[country]" value="<%= listing.country%>">
           </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <input required type="text"  class="form-control" name="listing[location]" value="<%= listing.location%>">
           </div>

       

        <button class="btn btn-dark add-btn">
           save changes
        </button>
<br><br>
    </form>
</div></div>  
</body>
