
<% layout("listings/layouts/boilerplate") -%>

<body>
    <div class="row ">
        <div class="col-8 offset-3">
        
    <h3><%= listing.title %></h3>
</div>
    <div class="card col-6 offset-3" >
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="image not found" >
    
        <div class="card-body">
          <p class="card-text">
           
            <p><%= listing.description %></p>
            <p>&#8377; <%= listing.price.toLocaleString("en-IN") %> / night</p>
            <p><%= listing.location %></p>
            <p><%= listing.country %></p>
          </p>
        </div>

    <div class="btns">
        <a href="/listings/<%= listing._id %>/edit ">
            <button class="btn btn-dark add-btn">
                EDIT
            </button> 
        </a>

    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button  class="btn btn-dark add-btn">
            DELETE
        </button>
    </form>
</div>
<hr>
<% if(!currentuser){%>
<h4 class="mt-3">leave a review</h4>

<form class="needs-validation" method="POST" action="/listings/<%= listing._id %>/reviews" novalidate  >
<label class="form-label" for="rating">range</label>
<fieldset class="starability-slot">
    <legend>First rating:</legend>
    <input type="radio" id="no-rate" class="input-no-rate"  name="review[rating]" value="1" checked aria-label="No rating." />
    <input type="radio" id="first-rate1"  name="review[rating]" value="1" />
    <label for="first-rate1" title="Terrible">1 star</label>
    <input type="radio" id="first-rate2"  name="review[rating]" value="2" />
    <label for="first-rate2" title="Not good">2 stars</label>
    <input type="radio" id="first-rate3"  name="review[rating]" value="3" />
    <label for="first-rate3" title="Average">3 stars</label>
    <input type="radio" id="first-rate4"  name="review[rating]" value="4" />
    <label for="first-rate4" title="Very good">4 stars</label>
    <input type="radio" id="first-rate5"  name="review[rating]" value="5" />
    <label for="first-rate5" title="Amazing">5 stars</label>
  </fieldset>

<div>
    <label class="form-label" for="comment">comment</label>
    <textarea required class="form-control mt-3"    id="comment" cols="30" rows="4" name="review[comment]"></textarea>
</div>
<button class="btn btn-outline-dark mt-3">submit</button>
</form>
<%}%>
   <hr>
<div class=" row">
    <% for(let review of listing.review){%>
        <div class="card  col-5 ms-3 mb-3 border">
        <div class="card-body">

            <h5 class="card-title">Card title</h5>
            <p class="card-text"><%= review.author %></p>
            <p class="starability-result" data-rating="<%= review.rating %>">

              </p>
            <p class="card-text"><%= review.comment%></p>
            <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                <button class="btn btn-sm btn-dark">Delete</button>
            </form>
            
            </div></div>
            <hr>
           <%}%>
</div>
<div id="map"></div></div>
</div>


<script>
    let maptoken="<%= process.env.MAP_ACESS %>";
    console.log(maptoken);
    maptilersdk.config.apiKey = maptoken;
    const map = new maptilersdk.Map({
      container: 'map', // container's id or the HTML element in which the SDK will render the map
      style: maptilersdk.MapStyle.STREETS,
      center: [ 74.498703,15.852792], // starting position [lng, lat]
      zoom: 10 // starting zoom
    });
  </script>
</body>



